In [129]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (2.16.1)
Requirement already satisfied: absl-py>=1.0.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (3.10.0)
Requirement already satisfied: libclang>=13.0.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (2.31.0)
Requirement already satisfied: setuptools in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (69.2.0)
Requirement already satisfied: six>=1.12.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (4.7.1)
Requirement already satisfied: wrapt>=1.11.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (1.62.1)
Requirement already satisfied: tensorboard<2.17,>=2.16 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (3.1.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (0.36.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorflow) (1.24.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from astunparse>=1.6.0->tensorflow) (0.38.4)
Requirement already satisfied: rich in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (13.7.1)
Requirement already satisfied: namex in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (0.0.7)
Requirement already satisfied: optree in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow) (0.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow) (2023.7.22)
Requirement already satisfied: markdown>=2.6.8 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow) (2.2.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow) (2.1.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /Users/sharafunneesapp/anaconda3/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow) (0.1.0)

In [130]:
import tensorflow as tf
print(tf.__version__)

2.16.1

In [131]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [132]:
data=pd.read_csv("churn.csv")

In [133]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [134]:
x=data.iloc[:,3:13]
y=data.iloc[:,13]

In [135]:
x=pd.get_dummies(data=x,columns=["Geography","Gender"],drop_first=True)

In [136]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False

In [137]:
col=["Geography_Germany","Geography_Spain","Gender_Male"]
x[col]=x[col].astype(int)

In [138]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [139]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [140]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)

In [141]:
xtest=sc.transform(xtest)

In [142]:
xtrain

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [143]:
xtest

array([[-0.55204276, -0.36890377,  1.04473698, ...,  1.75486502,
        -0.57369368, -1.09168714],
       [-1.31490297,  0.10961719, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ..., -0.5698444 ,
         1.74309049,  0.91601335],
       [-0.00566991, -0.46460796, -0.33936434, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-0.79945688, -0.84742473,  1.04473698, ...,  1.75486502,
        -0.57369368,  0.91601335]])

In [144]:
from tensorflow.keras.models import Sequential

In [145]:
from tensorflow.keras.layers import Dense

In [146]:
from tensorflow.keras.layers import LeakyReLU,PReLU,ELU,ReLU
from tensorflow.keras.layers import Dropout

In [147]:
classifier=Sequential()

In [148]:
classifier.add(Dense(units=11,activation="relu"))

In [149]:
classifier.add(Dense(units=7,activation="relu"))

In [150]:
classifier.add(Dense(units=6,activation="relu"))

In [151]:
classifier.add(Dense(1,activation="sigmoid"))

In [152]:
classifier.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [153]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [154]:
model=classifier.fit(xtrain,ytrain,validation_split=0.33,batch_size=10,epochs=20)

Epoch 1/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 419us/step - accuracy: 0.7533 - loss: 0.5765 - val_accuracy: 0.7955 - val_loss: 0.4664
Epoch 2/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.7916 - loss: 0.4563 - val_accuracy: 0.7978 - val_loss: 0.4317
Epoch 3/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.8078 - loss: 0.4211 - val_accuracy: 0.8175 - val_loss: 0.4139
Epoch 4/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 332us/step - accuracy: 0.8281 - loss: 0.4033 - val_accuracy: 0.8342 - val_loss: 0.3931
Epoch 5/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.8473 - loss: 0.3706 - val_accuracy: 0.8440 - val_loss: 0.3792
Epoch 6/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 333us/step - accuracy: 0.8623 - loss: 0.3409 - val_accuracy: 0.8451 - val_loss: 0.3743
Epoch 7/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.8625 - loss: 0.3437 - val_accuracy: 0.8466 - val_loss: 0.3733
Epoch 8/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.8593 - loss: 0.3437 - val_accuracy: 0.8482 - val_loss: 0.3727
Epoch 9/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - accuracy: 0.8566 - loss: 0.3421 - val_accuracy: 0.8482 - val_loss: 0.3700
Epoch 10/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.8604 - loss: 0.3432 - val_accuracy: 0.8463 - val_loss: 0.3707
Epoch 11/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.8594 - loss: 0.3423 - val_accuracy: 0.8463 - val_loss: 0.3693
Epoch 12/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.8652 - loss: 0.3270 - val_accuracy: 0.8451 - val_loss: 0.3700
Epoch 13/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.8685 - loss: 0.3231 - val_accuracy: 0.8444 - val_loss: 0.3729
Epoch 14/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.8685 - loss: 0.3244 - val_accuracy: 0.8466 - val_loss: 0.3682
Epoch 15/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.8624 - loss: 0.3309 - val_accuracy: 0.8463 - val_loss: 0.3665
Epoch 16/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.8673 - loss: 0.3248 - val_accuracy: 0.8482 - val_loss: 0.3654
Epoch 17/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.8628 - loss: 0.3350 - val_accuracy: 0.8478 - val_loss: 0.3657
Epoch 18/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.8639 - loss: 0.3306 - val_accuracy: 0.8463 - val_loss: 0.3691
Epoch 19/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 334us/step - accuracy: 0.8618 - loss: 0.3324 - val_accuracy: 0.8455 - val_loss: 0.3673
Epoch 20/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.8607 - loss: 0.3339 - val_accuracy: 0.8482 - val_loss: 0.3654

In [155]:
#early stopping
#if not increasing automatically stop
import tensorflow as tf
tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0,
    patience=0,
    verbose=0,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)